name: check
run-name: ${{ github.actor }} is running NIX
on: [push]
jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: cd ${{ github.workspace }}
      - uses: cachix/install-nix-action@v18
      - run: nix build
